---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=INSTAGRAM_ACCESS_TOKEN&q=Collab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '479'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"bio": "Funemployed \ud83d\ude0e Twitter/Musically: @collab
        \ud83e\udd18", "full_name": "Collab", "website": "http://bit.ly/2nolE10",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "id": "487786346", "username": "collab"}], "meta": {"code": 200}}'
  recorded_at: Mon, 13 Mar 2017 22:40:45 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '478'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"bio": "Funemployed \ud83d\ude0e Twitter/Musically: @collab
        \ud83e\udd18", "counts": {"followed_by": 23286, "media": 627, "follows": 369},
        "website": "http://bit.ly/2nolE10", "full_name": "Collab", "username": "collab",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "id": "487786346"}, "meta": {"code": 200}}'
  recorded_at: Mon, 13 Mar 2017 22:40:45 GMT
recorded_with: VCR 2.9.3
