---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=INSTAGRAM_ACCESS_TOKEN&q=Collab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '482'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"bio": "Funemployed \ud83d\ude0e
        Twitter/Musically: @collab \ud83e\udd18", "full_name": "Collab", "website":
        "http://bit.ly/2nolE10", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "username": "collab", "id": "487786346"}]}'
  recorded_at: Mon, 13 Mar 2017 22:40:44 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '481'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": {"counts": {"followed_by": 23286, "media":
        627, "follows": 369}, "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "username": "collab", "id": "487786346", "website": "http://bit.ly/2nolE10",
        "bio": "Funemployed \ud83d\ude0e Twitter/Musically: @collab \ud83e\udd18",
        "full_name": "Collab"}}'
  recorded_at: Mon, 13 Mar 2017 22:40:44 GMT
recorded_with: VCR 2.9.3
