---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=INSTAGRAM_ACCESS_TOKEN&q=Collab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '478'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"username": "collab", "id": "487786346", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "full_name": "Collab", "bio": "Funemployed \ud83d\ude0e Twitter/Musically:
        @collab \ud83e\udd18", "website": "http://bit.ly/2nolE10"}], "meta": {"code":
        200}}'
  recorded_at: Tue, 14 Mar 2017 19:11:58 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '477'
      X-Ratelimit-Limit:
      - '500'
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"id": "487786346", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "bio": "Funemployed \ud83d\ude0e Twitter/Musically: @collab \ud83e\udd18",
        "counts": {"media": 627, "followed_by": 23310, "follows": 369}, "username":
        "collab", "website": "http://bit.ly/2nolE10", "full_name": "Collab"}, "meta":
        {"code": 200}}'
  recorded_at: Tue, 14 Mar 2017 19:11:58 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346/media/recent?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Remaining:
      - '476'
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data": [{"caption": {"id": "17862764326124795", "from": {"id": "487786346",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "full_name": "Collab", "username": "collab"}, "created_time": "1489434457",
        "text": "\ud83d\udea8BREAKING\ud83d\udea8\nOur #Collabmoji app has arrived!
        Smash dat download button and enjoy! \u270c\ufe0f\n(Link in bio)"}, "filter":
        "Normal", "id": "1469805215065618487_487786346", "videos": {"low_resolution":
        {"url": "https://scontent.cdninstagram.com/t50.2886-16/17287958_367564310309790_1913391235830120448_n.mp4",
        "width": 480, "height": 598}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t50.2886-16/17287958_367564310309790_1913391235830120448_n.mp4",
        "width": 480, "height": 598}, "low_bandwidth": {"url": "https://scontent.cdninstagram.com/t50.2886-16/17287958_367564310309790_1913391235830120448_n.mp4",
        "width": 480, "height": 598}}, "users_in_photo": [], "created_time": "1489434457",
        "tags": ["collabmoji"], "likes": {"count": 98}, "link": "https://www.instagram.com/p/BRlzA5FALg3/",
        "location": null, "images": {"low_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/p320x320/17126875_414823062202066_7021785338662092800_n.jpg",
        "width": 320, "height": 398}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/17126875_414823062202066_7021785338662092800_n.jpg",
        "width": 612, "height": 763}, "thumbnail": {"url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/c0.75.612.612/17126875_414823062202066_7021785338662092800_n.jpg",
        "width": 150, "height": 150}}, "comments": {"count": 8}, "attribution": null,
        "user_has_liked": false, "type": "video", "user": {"id": "487786346", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "full_name": "Collab", "username": "collab"}}, {"caption": {"id": "17874306472041981",
        "from": {"id": "487786346", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "full_name": "Collab", "username": "collab"}, "created_time": "1488920986",
        "text": "Creating awesome content with some awesome creators \ud83d\ude1c\ud83d\udc4f"},
        "filter": "Normal", "id": "1465497914519579830_487786346", "user_has_liked":
        false, "users_in_photo": [{"position": {"x": 0.3671875, "y": 0.353125}, "user":
        {"id": "491707295", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/17076293_693112190871600_45420511810813952_a.jpg",
        "full_name": "Casey Simpson", "username": "caseysimpson"}}, {"position": {"x":
        0.6609375, "y": 0.4140625}, "user": {"id": "1551555354", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/14574010_262094814245472_7024749695025020928_a.jpg",
        "full_na[...]
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346/media/recent?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '475'
      X-Ratelimit-Limit:
      - '500'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "pagination": {}, "data": [{"tags": ["collabmoji"],
        "id": "1469805215065618487_487786346", "type": "video", "images": {"low_resolution":
        {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/p320x320/17126875_414823062202066_7021785338662092800_n.jpg",
        "width": 320, "height": 398}, "standard_resolution": {"url": "https://scontent.cdninstagram.com/t51.2885-15/e15/17126875_414823062202066_7021785338662092800_n.jpg",
        "width": 612, "height": 763}, "thumbnail": {"url": "https:[...]
