---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/media/1531332985868221389?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"id": "1531332985868221389_2920261222", "user": {"id": "2920261222",
        "full_name": "EjamBrocolli", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/20181021_187099138494103_2678022811838054400_a.jpg",
        "username": "ejamtucker"}, "images": {"thumbnail": {"width": 150, "height":
        150, "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/18948059_1942577789357229_5999747679591071744_n.jpg"},
        "low_resolution": {"width": 320, "height": 320, "url": "https://scontent.cdninstagram.com/t51.2885-15/s320x320/e15/18948059_1942577789357229_5999747679591071744_n.jpg"},
        "standard_resolution": {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/t51.2885-15/e15/18948059_1942577789357229_5999747679591071744_n.jpg"}},
        "created_time": "1496769139", "caption": {"id": "17871224890103184", "text":
        "Yesterday Hit Me Hard \ud83c\udf51 #skate.my #Hallofmeat (Cukup Lah Ni Makanan
        Sahur)", "created_time": "1496769139", "from": {"id": "2920261222", "full_name":
        "EjamBrocolli", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/20181021_187099138494103_2678022811838054400_a.jpg",
        "username": "ejamtucker"}}, "user_has_liked": false, "likes": {"count": 112},
        "tags": ["skate", "hallofmeat"], "filter": "Normal", "comments": {"count":
        17}, "type": "video", "link": "https://www.instagram.com/p/BVAYzy_g3vN/",
        "location": null, "attribution": null, "users_in_photo": [], "videos": {"standard_resolution":
        {"width": 640, "height": 640, "url": "https://scontent.cdninstagram.com/t50.2886-16/18954088_1445442168855176_8271610702855143424_n.mp4"},
        "low_bandwidth": {"width": 480, "height": 480, "url": "https://scontent.cdninstagram.com/t50.2886-16/18928806_320856988345914_4131951279704375296_n.mp4"},
        "low_resolution": {"width": 480, "height": 480, "url": "https://scontent.cdninstagram.com/t50.2886-16/18928806_320856988345914_4131951279704375296_n.mp4"}}},
        "meta": {"code": 200}}'
  recorded_at: Thu, 27 Jul 2017 19:38:34 GMT
recorded_with: VCR 2.9.3
