---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=INSTAGRAM_ACCESS_TOKEN&q=Collab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"meta": {"error_type": "OAuthAccessTokenException", "error_message":
        "The access_token provided is invalid.", "code": 400}}'
  recorded_at: Tue, 14 Mar 2017 18:30:53 GMT
recorded_with: VCR 2.9.3
