---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/search?access_token=INSTAGRAM_ACCESS_TOKEN&q=Collab
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '490'
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"id": "487786346", "username": "collab",
        "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "website": "http://bit.ly/2nolE10", "bio": "Funemployed \ud83d\ude0e Twitter/Musically:
        @collab \ud83e\udd18", "full_name": "Collab"}]}'
  recorded_at: Tue, 14 Mar 2017 18:40:17 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '489'
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"id": "487786346", "counts": {"media": 627, "follows": 369,
        "followed_by": 23308}, "website": "http://bit.ly/2nolE10", "username": "collab",
        "full_name": "Collab", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "bio": "Funemployed \ud83d\ude0e Twitter/Musically: @collab \ud83e\udd18"},
        "meta": {"code": 200}}'
  recorded_at: Tue, 14 Mar 2017 18:40:17 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/487786346/media/recent?access_token=INSTAGRAM_ACCESS_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '500'
      X-Ratelimit-Remaining:
      - '488'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta": {"code": 200}, "data": [{"filter": "Normal", "attribution":
        null, "user": {"full_name": "Collab", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "username": "collab", "id": "487786346"}, "tags": ["collabmoji"], "caption":
        {"text": "\ud83d\udea8BREAKING\ud83d\udea8\nOur #Collabmoji app has arrived!
        Smash dat download button and enjoy! \u270c\ufe0f\n(Link in bio)", "id": "17862764326124795",
        "from": {"full_name": "Collab", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "username": "collab", "id": "487786346"}, "created_time": "1489434457"}, "location":
        null, "comments": {"count": 8}, "users_in_photo": [], "link": "https://www.instagram.com/p/BRlzA5FALg3/",
        "likes": {"count": 98}, "created_time": "1489434457", "images": {"standard_resolution":
        {"width": 612, "url": "https://scontent.cdninstagram.com/t51.2885-15/e15/17126875_414823062202066_7021785338662092800_n.jpg",
        "height": 763}, "low_resolution": {"width": 320, "url": "https://scontent.cdninstagram.com/t51.2885-15/e15/p320x320/17126875_414823062202066_7021785338662092800_n.jpg",
        "height": 398}, "thumbnail": {"width": 150, "url": "https://scontent.cdninstagram.com/t51.2885-15/s150x150/e15/c0.75.612.612/17126875_414823062202066_7021785338662092800_n.jpg",
        "height": 150}}, "user_has_liked": false, "type": "video", "id": "1469805215065618487_487786346",
        "videos": {"low_bandwidth": {"width": 480, "url": "https://scontent.cdninstagram.com/t50.2886-16/17287958_367564310309790_1913391235830120448_n.mp4",
        "height": 598}, "standard_resolution": {"width": 480, "url": "https://scontent.cdninstagram.com/t50.2886-16/17287958_367564310309790_1913391235830120448_n.mp4",
        "height": 598}, "low_resolution": {"width": 480, "url": "https://scontent.cdninstagram.com/t50.2886-16/17287958_367564310309790_1913391235830120448_n.mp4",
        "height": 598}}}, {"filter": "Normal", "attribution": null, "tags": [], "caption":
        {"text": "Creating awesome content with some awesome creators \ud83d\ude1c\ud83d\udc4f",
        "id": "17874306472041981", "from": {"full_name": "Collab", "profile_picture":
        "https://scontent.cdninstagram.com/t51.2885-19/s150x150/13414208_199612667102550_1239056879_a.jpg",
        "username": "collab", "id": "487786346"}, "created_time": "1488920986"}, "location":
        null, "comments": {"count": 4}, "users_in_photo": [{"user": {"full_name":
        "Casey Simpson", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/17076293_693112190871600_45420511810813952_a.jpg",
        "username": "caseysimpson", "id": "491707295"}, "position": {"y": 0.353125,
        "x": 0.3671875}}, {"user": {"full_name": "Txunamy", "profile_picture": "https://scontent.cdninstagram.com/t51.2885-19/s150x150/14574010_262094814245472_7024749695025020928_a.jpg",
        "username": "txunamy", "id": "1551555354"}, "position": {"y": 0.4140625, "x":
        0.6609375}}], "link": "https://www.instagram.com/p/BRWfpa2A-y2/", "likes":
        {"count": 256}, "created_time": "1488920986", "images": {"standard_resolution":
        {"width": 480, "url": "https:/[...]
[...]
